* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, p, a {
    font-family: "Times New Romans";
    font-style: italic;
}

a {
    text-decoration: none;
}

.nav-ul, .foot-ul, .foot2-ul {
    list-style: none;
}

/*----------------header---------------*/
.header {
    width: 99%;
    height: 100px;
    margin: auto;
    display: flex;
    background-color: #555;
}

.navegacion {
    width: 100%;
    margin: auto;
}

.navegacion img {
    width: 120px;
    height: 80px;
    float: left;
    margin-left: 30px;
}

.nav-ul {
    float: right;
    margin-top: 25px;
    margin-right: 30px;
}

.navegacion .nav-ul .nav-li {
    float: left;
    margin: 5px;
    font-size: 15px;
}

.nav-ul .nav-li .nav-a {
    padding: 10px 15px;
    color: #fff;
}

.nav-ul .nav-li .nav-a:hover {
    border: 1px solid #2dbf2a;
    color: #2dbf2a;
}

/*-----------------body----------------------*/
.slider {
    overflow: hidden;
    width: 800px;
    margin: auto;
    margin-top: 10px;
    background-size: 100%;
}

.slider .slider-ul {
    display: flex;
    width: auto;
    padding: 0;
    animation: cambio 15s infinite alternate;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }

    30% {
        margin-left: 0;
    }

    35% {
        margin-left: -850px;
    }

    65% {
        margin-left: -850px;
    }

    70% {
        margin-left: -1700px;
    }

    100% {
        margin-left: -1700px;
    }
}

.slider .slider-li {
    width: 800px;
    list-style: none;
}

.slider .slider-img {
    width: 800px;
    height: 400px;
}

.portafolio {
    width: 90%;
    height: auto;
    margin: 10px auto;
    background-color: rgba(42, 45, 55, .9);
    text-align: center;
    color: #fff;
}

.portafolio h2 {
    padding-top: 15px;
}

.port {
    display: block;
    width: auto;
    height: 300px;
    align-items: center;
}

.port img {
    width: 440px;
    height: 250px;
}

.port p {
    margin: auto;
    width: 440px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.contactos {
    width: 60%;
    height: auto;
    margin: auto;
    background-color: rgba(42, 45, 55, .9);
    color: #fff;
    align-items: center;
    text-align: center;
}

.contactos h2 {
    padding: 15px;
}

.cont {
    width: 300px;
    height: auto;
    margin: 20px auto;
    align-items: center;
    padding-bottom: 20px;
}

.cont img {
    width: 100px;
    height: 120px;
}

.cont p {
    background-color: rgba(42, 45, 55, .9);
    margin: auto;
    width: 250px;
    height: auto;
}



/* -------------------servicee-------------------- */
.service{
    width: 100%;
    height: auto;
    align-content: center;
}

.service h1{
    margin: auto;
    padding: 20px;
    text-align: center;
}
.service-product{
    width: 70%;
    height: auto;
    margin: auto;
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid rgb(199,137,16);
    box-shadow:0 0 5px 5px rgba(199,137,16,.84);
    position: relative;
    display: flex;
}

.service-product img{
    width: 100%;
    max-width: 500px;
    height: auto;
    align-items: center;
}

.product-div{
    width: 50%;
    height: auto;
    text-align: left;
    margin: 10px;
    padding: 10px;
    float: right;
}


/*-----------------foter----------------------*/
footer {
    clear: both;
    width: 75%;
    height: 150px;
    margin: auto;
    margin-bottom: 10px;
    background: #666;
}

.foot-1, .foot-2 {
    padding: 10px 20px;
    width: 200px;
    height: auto;
    margin: auto;
}

.foot-1 {
    float: left;
    text-align: left;
    margin-left: 150px;
}

.foot-ul {
    margin-top: 15px;
}

.foot-a {
    color: #fff;
    text-decoration: none;
}

.foot-a:hover {
    color: #2dbf2a;
}

.foot-2 {
    float: right;
    margin-right: 150px;
}

.foot-2 .foot2-ul .foot2-li {
    display: inline-block;
}

.foot2-ul {
    margin-top: 50px;
}

i {
    font-size: 35px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    color: #fff;
}
i:hover{
    color: rgb(37,191,29);
}
